@charset "UTF-8";
@import url("reset.css");

@font-face {
  font-family: "adultKid";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Adultkid.otf");
  font-display: swap;
}

@font-face {
  font-family: "Orbit-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/Orbit-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
:root {
  // fonst-szie
  --fs-12: 1.2rem;

  --gray-100: #b1b1b1;
  --mblue01: #74a9da;
  --back-blue: #dce4ee;
}
